---
import Layout from "../../layouts/BlogLayout.astro";
import BlogCarussel from "../../components/BlogCarussel.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Blog">
  <section class="text-center mb-12">
    <h2 class="text-4xl font-bold text-gray-900 mb-4">
      Bienvenido a nuestro Blog
    </h2>
    <p class="text-gray-600 text-lg max-w-2xl mx-auto">
      Tips y estrategias en tecnología y contabilidad.
    </p>
  </section>
  <BlogCarussel />
</Layout>
