---
import SocialWidget from "./SocialWidget.astro";
---

<footer class="bg-blue-400 shadow mt-12">
      <div
        class="flex flex-row justify-between max-w-7xl mx-auto px-6 py-6 text-center text-gray-500 text-sm"
      >
        &copy; {new Date().getFullYear()} 30th Opps Blog. Todos los derechos reservados.
        <SocialWidget/>
      </div>
    </footer>