---
import '../styles/global.css';
import PageHeader from '../components/PageHeader.astro';
import FooterSection from '../components/FooterSection.astro';
const { title = "Blog" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Daniel C. Arce - Accountant & Fullstack Developergit </title>
     <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K6TKKCBL");
    </script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta
      name="title"
      content="Daniel C. Arce - Accountant & Fullstack Developer"
    />
    <meta name="description" content="Daniel C. Arce es un desarrollador de software fullstack y contador privado especializado en resolución problemas."/>
    <meta name="keywords" content="contador, desarrollador de software, fullstack, finanzas, contabilidad, desarrollo web, aplicaciones móviles, soluciones tecnológicas"
    />

    <!-- Open Graph / Facebook / LinkedIn -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.danielcarce.com/" />
    <meta
      property="og:title"
      content="Daniel C. Arce - Accountant & Fullstack Developer"
    />
    <meta
      property="og:description"
      content="Daniel C. Arce es un desarrollador de software fullstack y contador privado especializado en resolución problemas."
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://www.danielcarce.com/" />
    <meta
      name="twitter:title"
      content="Daniel C. Arce - Accountant & Fullstack Developer"
    />
    <meta
      name="twitter:description"
      content="Daniel C. Arce es un desarrollador de software fullstack y contador privado especializado en resolución problemas."
    />
    <meta
      name="twitter:image"
      content="https://danielcarce.com/og-image.png"
    />
  </head>
  <body class="bg-gray-50 text-gray-900 font-sans">
     <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K6TKKCBL"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
<PageHeader />
    <main class="max-w-7xl mx-auto px-6 py-12">
      <section class="text-center mb-12">
        <h2 class="text-4xl font-bold text-gray-900 mb-4">Bienvenido a nuestro Blog</h2>
        <p class="text-gray-600 text-lg max-w-2xl mx-auto">
          Tips y estrategias en tecnología y contabilidad.
        </p>
      </section>

      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <slot />
      </section>
    </main>
<FooterSection/>
  </body>
</html>