---
const {title} = Astro.props;
import PageHeader from '../components/PageHeader.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{title ? `${title} | 30th Opps` : "30th Oppps"}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
<PageHeader companyName="30th Opps" />
      <main>
        <slot /> <!-- your content is injected here -->
</main>
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>